<!-- <h1>{{ site.Title }}</h1>
{{ partial "menu.html" (dict "menuID" "main" "page" .) }} -->

<div class="sub-cover cover-news">
    <header class="page-header wrapper">
        <h1 class="align-center">
            <a href="/"><img class="logo" src="/image/logo.png" alt="すいすいSwift"></a>
        </h1>
        <nav>
            <ul class="main-nav">
                <li><a href="/posts/">Posts</a></li>
                <li><a href="/products/">Products</a></li>
                <li><a href="/abouts/">Abouts</a></li>
            </ul>
        </nav>
    </header>
</div>

