<aside class="sidebar">
    <h3 class="heading-medium">タグ</h3>
    <ul class="side-menu-category">
        {{- range $name, $items := .Site.Taxonomies.tags -}}
        <li><a href="{{- "tags/" | relLangURL -}}{{- $name | urlize | lower -}}">{{ .Page.Title }}</a></li>
        {{- end }}
    </ul>


    <h3 class="heading-medium">カテゴリ</h3>
    <ul class="side-menu-archive">
        {{- range $name, $items := .Site.Taxonomies.categories -}}
        <li><a href="{{- "categories/" | relLangURL -}}{{- $name | urlize | lower -}}">{{ .Page.Title }} ({{ $items.Count }})</a></li>
        {{- end }}
    </ul>
</aside>
