[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/Inkblotty"]
	path = themes/Inkblotty
	url = https://github.com/tosi29/inkblotty.git
