<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/normalize.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
  <div id="wrapper">
    <header>
        <h1>すいすいSwift</h1>
        <div class="header-nav">
            <a class="active" href="#home">Home</a>
            <a href="#news">List</a>
            <a href="#about">About</a>
          </div>
    </header>

    <div>
        {{ range .Paginator.Pages }}
        <div class="item">
            <h2><a href="https://swiswiswift.com/2023-07-04/">{{.Title}}</a></h2>
            <h3>2023-08-01</h3>
            <p>{{ .Summary }}<a href="https://swiswiswift.com/2023-07-04/">...more</a></p>
        </div>
        <hr>
        {{ end }}
    </div>

    <footer>
        <p>Contact: <a href="https://twitter.com/home">takoikatakotako</a></p>
        <p>Copyright © 2023 swiswiswift.com</p>
    </footer>
  </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html> -->



