{{ define "main" }}
  <main class="wrapper news-contents">
    <article class="home">
      {{ range .Pages }}
      <div class="home-article">
        <a href="{{ .RelPermalink }}">
          <h2>{{ .LinkTitle }}</h2>
        </a>

        {{ $dateMachine := .Date | time.Format "2006-01-02" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time class="home-date" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
        <p>{{ .Summary }}</p>
        <hr>
      </div>
      {{ end }} 
    </article>

    {{ partial "sidebar.html" . }}

</main>

{{ end }}
